/*.xml
/test-cascades-lib/lib
/test-cascades-lib/test-cascades-lib.pro.user
/test-cascades-cli/bin
/test-cascades-cli/test-cascades-cli.pro.user
/test-cascades-java/build
/test-cascades-java/.gradle
/build-*
/doc
/test-cascades-lib/test-cascades-lib-core/*.qm
/test-cascades-lib/test-cascades-lib-core/*.qm
